<h1>Edit {{ goodsItem.title }}</h1>

<form action="/goods/remove" method="post" class="right">
  <input type="hidden" name="id" value="{{goodsItem._id}}"> 
  <button class="btn red">Delete</button>
</form>
  

<form action="/goods/edit" method="POST" class="clearfix">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{goodsItem.title}}">
    <label for="title">Title</label>
    <span class="helper-text" data-error="Requred"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{goodsItem.price}}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Requred"></span>
  </div>

  <div class="input-field">
    <input id="img" name="image" type="text" class="validate" required value="{{goodsItem.image}}">
    <label for="img">Image url</label>
    <span class="helper-text" data-error="Requred"></span>
  </div>

  <input type="hidden" name="id" value="{{goodsItem._id}}"> 

  <button class="btn btn-primary">Submit</button>
</form>