
<!-- <pre>{{ orders }}</pre> -->

<h1>{{ title }}</h1>

{{#if orders.length}}
  {{#each orders}}
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <p><strong>Order: </strong> #{{_id}}</p>
          <p><strong>Date: </strong>{{formatDate date}}</p>
          <p><strong>User: </strong>{{user.userId.email}}</p>
        
        <hr>
        <strong>Goods: </strong>
        <ol>
          {{#each goods}}
            <li>
              {{goodsItem.title}} (<strong>x {{count}}</strong>)
            </li>
          {{/each}}
        </ol>
        </div>

        <hr>

        <h3>Total price: <span class="price">{{price}} RUB</span></h3>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>Not yet orders</p>
{{/if}}
